@{
  Layout = "_Layout";
}

@using ToDoList.Models
@model ToDoList.Models.Item
<h2>Edit</h2>

<h4>Edit this task: @Html.DisplayFor(model => model.Description)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ItemId)

  @Html.LabelFor(model => model.Description)
  @Html.EditorFor(model => model.Description)
  <br>
  @Html.Label("Mark Item As Completed")
  @Html.CheckBoxFor(model => model.Completed)
  <br>
  
  <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>