@{
  Layout = "_Layout";
}

@using ToDoList.Models;
@model List<ToDoList.Models.Item>;

<h1>Items</h1>

@if (@Model.Count == 0)
{
  <h3>No items have been added yet!</h3>
} 

@foreach (Item item in Model)
{
  <li>@Html.ActionLink($"{item.Description}", "Details", new { id = item.ItemId }) @Html.DisplayFor(model => item.Date.Day)/@Html.DisplayFor(model => item.Date.Month)/@Html.DisplayFor(model => item.Date.Year) @Html.CheckBoxFor(Model => item.Completed, new { @disabled = "disabled" })</li>
}

<p>@Html.ActionLink("Add new item", "Create")</p>
<p>@Html.ActionLink("View completed Items", "CompletedItems")</p>